.ck.ck-balloon-panel.ck-balloon-panel_position_border-side_right.ck-powered-by-balloon {
    display: none;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.ck.ck-editor__main {
    outline: none !important;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.ck.ck-editor__top.ck-reset_all {
    display: none !important;
}